body {
  color: black;
}

.btn-green {
  background-color: transparent;
  border-color: #c6d200;
  color: white;
}

.btn-green:hover {
  background-color: #c6d200;
  color: black;
}

.bg-blue {
  background-color: #004289;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.pending_appraisals_items {
  height: 125px;
}
